.navbar {
  display: flex;
 height: 7vh;
align-items: center;
width: 100vw;

 background-color: antiquewhite;
 
 margin: -6px;
 }
 .navbar>p{
  font-size: 30px;
  margin: 0 0 0 5vh;
 }
 .inp {
   display: flex;
   margin: 3vh 2vw 2vh 30vw;
   width: 17vw;
   height: 5vh;
  
  }
  