.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 100vw;

  background-color: antiquewhite;

  margin: -6px;
}
.navbar > p {
  font-size: 30px;
  flex: 1;
  display: grid;
  place-items: center;
}
.inp {
  display: flex;
  align-items: center;

  flex: 3;
}
.inp > input {
  flex: 1.5;
  height: 4vh;
}
.inp > button {
  height: 5vh;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5vh;
  flex: 1.5;
}
@media screen and (max-width: 500px) {
  .user {
    display: none;
  }
  
  .inp > input {
    flex: 2;
    height: 4vh;
    margin-left: 2vh;
  }
  .inp > button {
    height: 4.8vh;
    flex: 0.3;
  }
  .inp {
    display: flex;
    align-items: center;

    flex: 3;
  }
}
