.app {
  display: flex;
  justify-content: center;
  
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: center;
 
}

