.app {
  display: grid;
  place-items: center;
  margin: 0;
  
}
body {
  margin: 0;
}
body {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
Body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.app {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
.app::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
